
.App-logo {
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 120px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

#result-panel > div > div > div.p-tabview-panels {
  padding: 0px;
}

#query-toolbar > div {
  padding-top: 0px;
  padding-bottom: 6px;
  padding-left: 0px;
  padding-right: 6px;
}

#history-panel > div.p-tree {
  padding: 9 !important;
}

#history-panel > div.p-tree > div.p-treenode-content {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

#work-input > div.p-card.p-component > div {
  padding-top: 0px;
  padding-bottom: 0px;
}

.work-buttons > button {
  font-size: 0.575rem !important;
  padding: 0.2375rem 0.475rem !important;
}

.work-buttons > span.p-inputgroup-addon {
  padding: 0.2375rem 0.475rem !important;
  padding-top: 7px !important;
  padding-bottom: 7px !important;
}

#work-input > div.p-card > div.p-card-body > div.p-card-content {
  padding-top: '9px' !important;
}

.action-buttons > button {
  padding: 0.1375rem 0.375rem !important;
  padding-left: 0.1375rem !important;
  padding-right: 0.1375rem !important;
  max-width: 1.5rem !important;
}

.action-buttons > button > span {
  font-size: 0.475rem !important;
}

.p-tabview-selected {
  color: green !important;
}

.p-tabview-panels {
  padding-top: 10px !important;
}

#work-input > div.p-selectbutton.p-buttonset.p-component > div
 {
   max-height: 34px !important;
 }

 #schema-databases > button > span {
    font-size: 0.69em;
 }

 #schema-databases > button {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
    /* padding: 0px; */
 }

 #query-toolbar {
    /* max-height: 34px !important; */
    font-size: 0.99em;
    margin: 0;
 }

 #query-toolbar > div > div > span {
    min-width: 1.657rem;
 }

 #query-toolbar > div > div > span > i {
    /* max-height: 34px !important; */
    font-size: 0.99em;
 }

 #query-toolbar > div > div > button > span{
    /* max-height: 34px !important; */
    font-size: 0.99em;
    padding-top: 0px;
    padding-bottom: 0px;
 }

 #tab-table > div.jexcel_content > table > tbody > tr {
    white-space: nowrap;
 }

 #tab-table > div.jexcel_content > table > tbody > tr > td {
    height:23px;
    max-height:23px;
    /* line-height: 0; */
    overflow:hidden;
    word-wrap:break-word;
    white-space: nowrap;
 }

 #limit-input {
  max-width: 90px;
 }

 #limit-input > span {
  font-size: 12px !important;
  font-family: monospace !important;
 }

 #limit-input li {
  font-size: 12px !important;
  font-family: monospace !important;
 }

#analysis-buttons {
font-size: 9px !important;
}

#schema-tree > ul > li > div {
  padding-top: 0px;
  padding-bottom: 0px;
}

#schema-tree > ul > li > ul > li, #schema-tree > ul > li > ul > li > div {
  padding-top: 0px;
  padding-bottom: 0px;
}

#schema-tree > ul > li > ul, #schema-tree > ul > li > ul > li > ul {
  padding-left: 0px;
}

#schema-tree > ul > li > ul > li > div {
  padding-left: 0px;
}

#schema-tree > ul > li > ul > li > ul > li > div {
  padding: 0px;
}

#schema-tree > ul > li > div {
  font-weight: bold;
}

#schema-tree > ul > li > ul > li > div {
  margin-top: 5px;
  margin-left: 10px;
}

/* table node */
#schema-tree > ul > li > ul > li > ul > li > div > button {
  margin: 0px;
  max-height: 20px;
}

#schema-tree > ul > li > ul > li > ul > li {
  padding-top: 0;
  padding-bottom: 0;
}

#schema-tree > ul > li > div > button {
  margin: 0;
}

#schema-tree > ul > li > ul > li > div > button {
  max-height: 20px !important;
  font-size: 5px;
  margin: 0;
}

#preview-panel > div.p-dialog-header > div.p-dialog-header-icons > button {
  max-height: 20px;
}

#preview-panel > div.p-dialog-header > div.p-dialog-header-icons > button > span {
  font-size: 10px;
}


#sub-tabs-container > div > div.p-tabview-panels {
  padding-top: 5px !important;
}

#sub-tabs > div.p-tabview-panels {
  padding: 0px !important;
  padding-top: 3px !important;
}

#sub-tabs > ul > li > a, #sub-tabs > ul > li > span > a {
  padding-top: 4px;
  padding-bottom: 4px;
}

#sub-tabs > ul > li > span > a > i.pi {
  margin-right: 5px;
  font-size: 10px;
}

#sub-tabs > ul > li > span > a > i.pi.pi-chevron-circle-down {
  color: red;
}

#sub-tabs > ul > li > span > a > i.pi.pi-spinner {
  color: blue;
}

.editor-highlight {
  position:absolute;
  background:rgba(100,200,100,0.5);
  z-index:20
}

#work-pane {
  z-index: 5;
}

#top-menu-bar > ul > li > ul {
  z-index: 10;
  max-height: 500px;
  overflow-y: scroll;
}

.no-padding {
  padding: 0px !important;
}


#tab-names > div {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

#tab-names > div > span {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
}

#tab-names-menu > ul > li > a > span.pi {
  margin: 0px !important;
}

#tab-names-menu > ul > li > a > span {
  font-size: 10px !important;
}

#tab-names-menu > ul > li > a  {
  padding-top: 10px;
  padding-bottom: 10px;
}


#left-pane-select > div.p-button {
  font-size: 14px;
  padding: 8px;
}

#preview-panel > div.p-dialog-header {
  padding: 0px;
}

#preview-panel > div.p-dialog-content {
  padding-top: 0px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}

#meta-explorer .even-background {
  background-color: rgba(57, 40, 58, 0.048) !important;
}

#meta-explorer .column-unique {
  color: blueviolet;
  font-weight: 700;
}

.query-submit-decoration {
	background: lightblue;
	width: 5px !important;
	margin-left: 3px;
}
