
.App-logo {
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 120px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

#history-panel > div.p-tree {
  padding: 9 !important;
}

#history-panel > div.p-tree > div.p-treenode-content {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

#work-input > div.p-card.p-component > div {
  padding-top: 0px;
  padding-bottom: 0px;
}

.work-buttons > button {
  font-size: 0.575rem !important;
  padding: 0.2375rem 0.475rem !important;
}

.work-buttons > span.p-inputgroup-addon {
  padding: 0.2375rem 0.475rem !important;
  padding-top: 7px !important;
  padding-bottom: 7px !important;
}

#work-input > div.p-card > div.p-card-body > div.p-card-content {
  padding-top: '9px' !important;
}

.p-tabview-selected {
  color: green !important;
}

.p-tabview-panels {
  padding-top: 10px !important;
}

#work-input > div.p-selectbutton.p-buttonset.p-component > div
 {
   max-height: 34px !important;
 }

 #schema-databases > button > span {
    font-size: 0.69em;
 }

 #schema-databases > button {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
    /* padding: 0px; */
 }

 #query-toolbar {
    /* max-height: 34px !important; */
    font-size: 0.99em;
 }

 #query-toolbar > div > div > span {
    min-width: 1.657rem;
 }

 #query-toolbar > div > div > span > i {
    /* max-height: 34px !important; */
    font-size: 0.99em;
 }

 #query-toolbar > div > div > button > span{
    /* max-height: 34px !important; */
    font-size: 0.99em;
    padding-top: 0px;
    padding-bottom: 0px;
 }

 #tab-table > div.jexcel_content > table > tbody > tr {
    white-space: nowrap;
 }

 #tab-table > div.jexcel_content > table > tbody > tr > td {
    height:23px;
    max-height:23px;
    /* line-height: 0; */
    overflow:hidden;
    word-wrap:break-word;
    white-space: nowrap;
 }

 #limit-input {
  max-width: 90px;
 }

 #limit-input > span {
  font-size: 12px !important;
  font-family: monospace !important;
 }

 #limit-input li {
  font-size: 12px !important;
  font-family: monospace !important;
 }

#analysis-buttons {
font-size: 9px !important;
}

#schema-tree > ul > li > div {
  padding-top: 0px;
  padding-bottom: 0px;
}

#schema-tree > ul > li > ul > li, #schema-tree > ul > li > ul > li > div {
  padding-top: 0px;
  padding-bottom: 0px;
}

#schema-tree > ul > li > ul, #schema-tree > ul > li > ul > li > ul {
  padding-left: 0px;
}

#schema-tree > ul > li > ul > li > div {
  padding-left: 0px;
}

#schema-tree > ul > li > ul > li > ul > li > div {
  padding: 0px;
}

#schema-tree > ul > li > ul > li > ul > li > div > button {
  margin: 0px;
}

#schema-tree > ul > li > ul > li > div > button {
  max-height: 20px !important;
  font-size: 5px;
}

#sub-tabs > div.p-tabview-panels {
  padding: 0px !important;
  padding-top: 3px !important;
}

#sub-tabs > ul > li > a, #sub-tabs > ul > li > span > a {
  padding-top: 4px;
  padding-bottom: 4px;
}

#sub-tabs > ul > li > span > a > i.pi {
  margin-right: 5px;
  font-size: 10px;
}

#sub-tabs > ul > li > span > a > i.pi.pi-chevron-circle-down {
  color: red;
}

#sub-tabs > ul > li > span > a > i.pi.pi-spinner {
  color: blue;
}

.editor-highlight {
  position:absolute;
  background:rgba(100,200,100,0.5);
  z-index:20
}

#work-pane {
  z-index: 5;
}

#top-menu-bar > ul > li > ul {
  z-index: 10;
}

.no-padding {
  padding: 0px !important;
}


#tab-names > div {
  padding: 0px;
}

#tab-names > div > span {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
}